.cartContainer{
    flex:3
}
.cartWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid gray
}
.cartSubtotalWrapper{
    flex:1
}
.cartFoodDetails{
    flex:2
}
.cartFoodImageWrapper{
    flex:2
}
.cartDeleteFoodWrapper{
    flex:2;
    color:red;
    cursor: pointer;
}
.cartFoodImage{
    width: 30%;
    aspect-ratio: 3/4;
    object-fit: contain;
}
.cartFoodAmount{
    display: flex;
}